{% extends 'accounts/base.html' %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="d-flex justify-content-between">
          <div><h2 class="text-danger">ERROR</h2>
          </div>
          <div><button type='button' class="btn btn-info" > <a href="{% url 'option-create' pk=ques.pk %}"style="color:White">Go to Options Page</a></button>
           </div>
         </div>
<h4>Minimum 3 Options are needed for a Question</h4>
<h4>No.of Options for the given questions is : {{optcount}}</h4>
{% if ques.question %}                             
                {{ques.question}}
                <br>
                {% endif %}
              {% if ques.question_image %}                             
                <img src="{{ques.question_image.url}}" class="img-rounded">
                <br>
                {% endif %}
         
  </div>
</div>
</div>
  
{% endblock %}